add_path() {
  if [ -d "$1" ]; then
    PATH="$(echo $PATH | sed "s%$1:%%g;s%:$1%%")"
    PATH="$PATH:$1"
    export PATH
  fi
}

add_path_unsafe() {
  if [ -d "$1" ]; then
    PATH="$(echo $PATH | sed "s%$1:%%g;s%:$1%%")"
    PATH="$PATH:$1"
    PATH="$1:$PATH"
    export PATH
  fi
}

add_manpath() {
  if [ -d "$1" ]; then
    if [ -n "$MANPATH" ]; then
      MANPATH="$(echo $MANPATH | sed 's%$1%%g')"
      MANPATH="$MANPATH:$1"
    else
      MANPATH="$(manpath):$1"
    fi
    export MANPATH
  fi
}

warn() {
  echo "$@" >&@
}

confirm() {
  if grep -q "$@" 2>/dev/null ~/.envrc.neverask; then
    return 1
  fi
  if ! tty -s; then
    warn "No tty: skipping $@"
    return 1
  fi
  printf "This will $@.  Do you want to continue? [YnN] (N=never ask again)"
  if read -r PROMPT; then
    case "$PROMPT" in
      y|Y) return 0 ;;
        N) echo "$@" >> ~/.envrc.neverask ;;
        *) return 1 ;;
    esac
  fi
}

has_command() {
  which "$@" >/dev/null 2>&1
}

# perl
if [ -d "$HOME/perl5" ]; then
  PERL5_DIR="$HOME/perl5"; export PERL5_DIR
  PERL_LOCAL_LIB_ROOT="$PERL_LOCAL_LIB_ROOT:$PERL5_DIR"; export PERL_LOCAL_LIB_ROOT
  PERL_MB_OPT="--install_base $PERL5_DIR"; export PERL_MB_OPT
  PERL_MM_OPT="INSTALL_BASE=$PERL5_DIR"; export PERL_MM_OPT
  PERL5LIB="$PERL5_DIR/lib/perl5:$PERL5LIB"; export PERL5LIB
  add_path "$PERL5_DIR/bin"
fi

# local scripts
add_path "$HOME/bin"
add_path "$HOME/sbin"

# homebrew sbins
add_path /usr/local/sbin

# ls
CLICOLOR=1; export CLICOLOR
LSCOLORS=GxFxCxDxBxegedabagaced; export LSCOLORS

# heroku toolbelt
if [ -d /usr/local/heroku/bin ]; then
  add_path_unsafe '/usr/local/heroku/bin'
fi

# go
# no existing go AND has offically-installed go
if ! has_command go && [ -d /usr/local/go/bin ]; then
  # shouldnt be needed, because go installer adds /etc/paths.d/go
  add_path "/usr/local/go/bin"
fi
# setup go
if has_command go; then
  GOPATH="$HOME/.go"; export GOPATH
  add_path "$GOPATH/bin"
#  if [ -d /usr/local/go ]; then
#    echo "go via mac pkg installer"
#    GOTOOLDIR="$GOPATH/pkg/tool/darwin_amd64"; export GOTOOLDIR
#  fi
fi

# chruby
if has_command chruby-exec; then
    source /usr/local/opt/chruby/share/chruby/chruby.sh
    RUBIES_ROOT='/usr/local/ruby' # ; export RUBIES_ROOT
    if [ -d "$RUBIES_ROOT" ]; then
      RUBIES=( "$RUBIES_ROOT"/* ) # RUBIES cannot be exported because it is an array
    else
      echo "RUBIES unset... Missing dir RUBIES_ROOT=$RUBIES_ROOT" >&2
    fi 
    # enable auto-switching of Rubies specified by .ruby-version files
    source /usr/local/opt/chruby/share/chruby/auto.sh
fi

# node
if has_command node; then
  NPM_CONFIG_PREFIX="$HOME/.node"; export NPM_CONFIG_PREFIX
  add_path "$NPM_CONFIG_PREFIX/bin"
  # global modules
  add_manpath "/usr/local/lib/node_modules/npm/man"
  # user modules
  if [ -d "$NPM_CONFIG_PREFIX/lib/node_modules" ]; then
    add_manpath "$(find $NPM_CONFIG_PREFIX/lib/node_modules -type d -name man | tr '\n' ':'l | sed 's/:$//')"
  fi
fi

# android
if [ -d /usr/local/opt/android-sdk ]; then
  ANDROID_HOME=/usr/local/opt/android-sdk; export ANDROID_HOME
  add_path "$ANDROID_HOME/tools/"
  add_path "$ANDROID_HOME/platform-tools/"
  add_path "$ANDROID_HOME/build-tools/"*
fi

# coreutils
if [ -d /usr/local/opt/coreutils ]; then
  add_manpath "/usr/local/opt/coreutils/libexec/gnuman"
fi

if has_command vim; then
  EDITOR='vim'; export EDITOR
  VISUAL='vim'; export VISUAL
else
  EDITOR='nano'; export EDITOR
  VISUAL='nano'; export VISUAL
fi
PAGER='less'; export PAGER
BLOCKSIZE='K'; export BLOCKSIZE
LANG="${LANG-en_US.UTF-8}"; export LANG

if [ `uname` = Darwin ]; then
  BROWSER='open'; export BROWSER
fi
   
if [ ! -d "$TMPDIR" ]; then
  TMPDIR="/tmp/$USER"; export TMPDIR
  mkdir -p -m 700 "$TMPDIR"
fi

TMPPREFIX="${TMPDIR%/}/zsh"; export TMPPREFIX
if [ ! -d "$TMPPREFIX" ]; then
  mkdir -p "$TMPPREFIX"
fi

# Set the default Less options.
# Mouse-wheel scrolling has been disabled by -X (disable screen clearing).
# Remove -X and -F (exit if the content fits on one screen) to enable it.
LESS='-F -g -i -M -R -S -w -X -z-4'; export LESS

if has_command lesspipe; then
  LESSOPEN="| $(which lesspipe) %s 2>&-"; export LESSOPEN
elif has_command lesspipe.sh; then
  LESSOPEN="| $(which lesspipe.sh) %s 2>&-"; export LESSOPEN
fi

if has_command contacts && has_command git; then
  MYSELF="$(contacts -mH -f '%n:%e')"
  GIT_AUTHOR_EMAIL="${MYSELF/*:/}"; export GIT_AUTHOR_EMAIL
  GIT_AUTHOR_NAME="${MYSELF/:*/}"; export GIT_AUTHOR_NAME
  GIT_COMMITTER_EMAIL="${MYSELF/*:/}"; export GIT_COMMITTER_EMAIL
  GIT_COMMITTER_NAME="${MYSELF/:*/}"; export GIT_COMMITTER_NAME
  unset MYSELF
fi
