# ignore most everything
/*

# then dont ignore ~/.*
!/.*

# but then ignore ~/.zprezto and ~/bin
/bin/
/.zprezto/

# and ignore /.*/
/.*/

# also dont ignore the license and readme
!LICENSE
!README.md

# ignore other shit
.CFUserTextEncoding
.DS_Store
.Trash/
*.swp
*.bak
*.txt


# ---- DO NOT COPY IMPORTANT CREDENTIALS AND SHIT

*hist*
*hst*

/.rnd
/.ssh/
/.netrc
/.zcompdump*
/.viminfo
