[user]
# email set by GIT_AUTHOR_EMAIL
# name set by GIT_AUTHOR_NAME
[core]
	autocrlf = false
	filemode = false
	deltaBaseCacheLimit = 1G
	excludesfile = /Users/bmf/.gitignore_global
[push]
        default = matching
[color]
	diff = auto
	interactive = auto
	status = auto
	branch = auto
	ui = true
[pager]

#	diff = diff-highlight | less
#	log = diff-highlight | less
#	show = diff-highlight | less

#	diff = colordiff2 | less
#	log = colordiff2 | less
#	show = colordiff2 | less
[alias]
  a = add -A
  c = commit -sS -m
  co = clone
  d = diff --color-words --word-diff-regex=.
  l = log --pretty=oneline
  ll = log --pretty
  s = status
  u = push
#[difftool "sourcetree"]
#	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
#	path = 
#[mergetool "sourcetree"]
#	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
#	trustExitCode = true
