# ignore most everything
/*

# then dont ignore ~/.*
!/.*
# and ignore /.*/
/.*/

# submodules
!/bin/
!/.zprezto/

/bin/.git/
/.zprezto/.git/
# submodules


# also dont ignore the license and readme
!LICENSE
!README.md

# ignore other shit
.CFUserTextEncoding
.DS_Store
.Trash/
*.sw*
*.bak
*.txt


# ---- DO NOT COPY IMPORTANT CREDENTIALS AND SHIT

*hist*
*hst*

/.rnd
/.ssh/
/.netrc
/.zcompdump*
/.viminfo
/.Xauthority
/.man.conf
